services:
  - type: web
    name: gom-ai-backend
    env: python
    region: ohio
    plan: free

    buildCommand: pip install -r requirements.txt

    startCommand: ./start.sh

    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: PORT
        value: 10000

    autoDeploy: true
